* {
  padding: 0;
  margin: 0;

  @include font("Roboto");
}

h1,
h2,
h3,
h4 {
  @include font($font: "Ubuntu");
}

a {
  text-decoration: none;
  color: #fff;
}

h1 {
  font-size: 24px;

  @include devices(desktop) {
    font-size: 26px;
  }
}

h2 {
  font-size: 20px;

  @include devices(desktop) {
    font-size: 24px;
  }
}

h3 {
  font-size: 16px;

  @include devices(desktop) {
    font-size: 20px;
  }
}

p {
  font-size: clamp($mobilePSize, 4vw, 14px);
  line-height: 1.2rem;

  @include devices(tablet) {
    font-size: clamp(14px, 15.5px, 16px);
  }

  @include devices(desktop) {
    font-size: clamp(16px, 4vw, $desktopPSize);
  }
}

nav {
  ul {
    list-style: none;
  }
}

.content-wrapper {
  max-width: 1080px;
  padding: 0 1rem;
  margin: auto;
  position: relative;

  @include devices(tablet) {
    padding: 0 3rem;
  }
}
