.header {
  background-color: $darkBlue;

  @include flex($align: center, $justify: space-between);

  @include devices(desktop) {
    justify-content: flex-start;
  }
}

.logo {
  @include devices(desktop) {
    display: inline-block;
    align-self: flex-start;
  }
}

.header-title {
  margin: auto;
  color: #fff;

  @include devices(desktop) {
    display: none;
  }
}

.nav-mobile {
  display: block;
  opacity: 0;
  transform: scale(0);
  transform-origin: top right;
  position: absolute;
  background-color: $brand;
  box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.6);
  width: 250px;
  height: auto;
  right: 0.7rem;
  top: 1.7rem;
  padding: 1rem;
  z-index: 1;
  transition: all 200ms ease-in-out;

  &.is-open {
    display: block;
    opacity: 1;
    transform: scale(1);
  }

  @include devices(desktop) {
    display: none;
  }
}

.nav-mobile-trigger {
  position: relative;
  width: 36px;
  height: 36px;
  padding: 6px;
  z-index: 2;

  @include flex($direction: column);

  span {
    position: absolute;
    display: block;
    width: 24px;
    height: 2px;
    background: #fff;
    transition: all 200ms ease-in-out;

    &:nth-child(1) {
      top: 10px;
    }
    &:nth-child(2) {
      top: 17px;
    }
    &:nth-child(3) {
      top: 24px;
    }
  }

  &.is-clicked {
    span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }

  @include devices(desktop) {
    display: none;
  }
}

.nav-mobile-list {
  list-style: none;

  @include flex($direction: column);

  .nav-mobile-list-item {
    margin-bottom: 0.8rem;
    font-size: larger;

    &:last-child {
      margin-bottom: 0;
    }

    &.is-current a {
      font-weight: 600;
    }
  }
}

.nav-desktop {
  display: none;

  @include devices(desktop) {
    display: flex;
    margin: auto;
  }
}

.nav-desktop-list {
  list-style: none;
  gap: 1rem;
  font-size: 20px;

  @include flex($align: center);
}

.nav-desktop-list-item {
  a {
    transition: all 200ms ease-in-out;
  }

  &.is-current {
    a {
      color: $brand;
      font-size: 26px;
    }
  }

  a:hover {
    color: $brand;
    font-size: 26px;
  }
}
