.service-callout {
  position: relative;
  margin-bottom: 2rem;

  @include devices(desktop) {
    &:nth-child(odd) {
      .service-img {
        margin-right: auto;
        margin-left: 0;
      }

      .service-button-wrapper {
        right: 1rem;
      }
    }
  }
}

.service-img {
  position: relative;
  margin-left: auto;
  height: 200px;

  @include devices(desktop) {
    width: 740px;
    height: 370px;
    z-index: 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    @include devices(desktop) {
      border-radius: 1rem;
    }
  }
}

.service-button-wrapper {
  background-color: rgba($darkBlue, 1);
  height: 100px;
  gap: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  @include flex(column, center, center);

  @include devices(desktop) {
    background-color: rgba($darkBlue, 0.95);
    width: 500px;
    height: 240px;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 1rem;
  }

  h3 {
    color: $brand;
  }
}

.contact-content {
  margin: 2rem 0;
  .service-callout {
    .service-img {
      height: 400px;
    }
    .service-button-wrapper {
      @include flex(column, flex-start, flex-start);
      gap: 0.5rem;
      height: 150px;
      color: #fff;
      padding-left: 1rem;
      padding-top: 1rem;

      h2 {
        color: $brand;
      }

      @include devices(desktop) {
      }
    }
  }
}

.service-button {
  background-color: #fff;
  color: #000;
  font-size: $mobilePSize;
  text-align: center;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
}
