.text-element {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;

  &.history-background {
    background-color: $darkBlue;
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 2rem;
    h3 {
      color: $brand;
      padding-bottom: 1rem;
    }
  }

  @include devices(desktop) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
