/* ubuntu-300 - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/ubuntu-v20-latin-300.woff2") format("woff2"), url("../fonts/ubuntu-v20-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ubuntu-regular - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/ubuntu-v20-latin-regular.woff2") format("woff2"), url("../fonts/ubuntu-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ubuntu-500 - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/ubuntu-v20-latin-500.woff2") format("woff2"), url("../fonts/ubuntu-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ubuntu-700 - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/ubuntu-v20-latin-700.woff2") format("woff2"), url("../fonts/ubuntu-v20-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/roboto-v30-latin-300.woff2") format("woff2"), url("../fonts/roboto-v30-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

h1 {
  font-size: 24px;
}
@media (min-width: 980px) {
  h1 {
    font-size: 26px;
  }
}

h2 {
  font-size: 20px;
}
@media (min-width: 980px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-size: 16px;
}
@media (min-width: 980px) {
  h3 {
    font-size: 20px;
  }
}

p {
  font-size: clamp(12px, 4vw, 15px);
  line-height: 1.2rem;
}
@media (min-width: 980px) {
  p {
    font-size: clamp(17px, 4vw, 18px);
  }
}

nav ul {
  list-style: none;
}

.content-wrapper {
  max-width: 1080px;
  padding: 0 1rem;
  margin: auto;
  position: relative;
}

.header {
  background-color: #282634;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 980px) {
  .header {
    justify-content: flex-start;
  }
}

@media (min-width: 980px) {
  .logo {
    display: inline-block;
    align-self: flex-start;
  }
}

.header-title {
  margin: auto;
  color: #fff;
}
@media (min-width: 980px) {
  .header-title {
    display: none;
  }
}

.nav-mobile {
  display: block;
  opacity: 0;
  transform: scale(0);
  transform-origin: top right;
  position: absolute;
  background-color: #f63d53;
  box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.6);
  width: 250px;
  height: auto;
  right: 0.7rem;
  top: 1.7rem;
  padding: 1rem;
  z-index: 1;
  transition: all 200ms ease-in-out;
}
.nav-mobile.is-open {
  display: block;
  opacity: 1;
  transform: scale(1);
}
@media (min-width: 980px) {
  .nav-mobile {
    display: none;
  }
}

.nav-mobile-trigger {
  position: relative;
  width: 36px;
  height: 36px;
  padding: 6px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.nav-mobile-trigger span {
  position: absolute;
  display: block;
  width: 24px;
  height: 2px;
  background: #fff;
  transition: all 200ms ease-in-out;
}
.nav-mobile-trigger span:nth-child(1) {
  top: 10px;
}
.nav-mobile-trigger span:nth-child(2) {
  top: 17px;
}
.nav-mobile-trigger span:nth-child(3) {
  top: 24px;
}
.nav-mobile-trigger.is-clicked span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.nav-mobile-trigger.is-clicked span:nth-child(2) {
  opacity: 0;
}
.nav-mobile-trigger.is-clicked span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
@media (min-width: 980px) {
  .nav-mobile-trigger {
    display: none;
  }
}

.nav-mobile-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.nav-mobile-list .nav-mobile-list-item {
  margin-bottom: 0.8rem;
  font-size: larger;
}
.nav-mobile-list .nav-mobile-list-item:last-child {
  margin-bottom: 0;
}
.nav-mobile-list .nav-mobile-list-item.is-current a {
  font-weight: 600;
}

.nav-desktop {
  display: none;
}
@media (min-width: 980px) {
  .nav-desktop {
    display: flex;
    margin: auto;
  }
}

.nav-desktop-list {
  list-style: none;
  gap: 1rem;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.nav-desktop-list-item a {
  transition: all 200ms ease-in-out;
}
.nav-desktop-list-item.is-current a {
  color: #f63d53;
  font-size: 26px;
}
.nav-desktop-list-item a:hover {
  color: #f63d53;
  font-size: 26px;
}

.hero {
  position: relative;
  width: 100%;
  height: 182px;
}
@media (min-width: 980px) {
  .hero {
    height: 400px;
  }
}
.hero::before {
  content: "";
  position: absolute;
  background-color: #282634;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}
.hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-title {
  position: absolute;
  color: #fff;
  font-weight: 300;
}
.hero-title:first-of-type {
  bottom: 6rem;
  left: 3rem;
}
@media (min-width: 740px) {
  .hero-title:first-of-type {
    font-size: 32px;
  }
}
@media (min-width: 980px) {
  .hero-title:first-of-type {
    bottom: 14rem;
    left: 11rem;
    font-size: 64px;
  }
}
.hero-title:last-of-type {
  bottom: 4.8rem;
  left: 6rem;
}
@media (min-width: 740px) {
  .hero-title:last-of-type {
    font-size: 32px;
  }
}
@media (min-width: 980px) {
  .hero-title:last-of-type {
    bottom: 10rem;
    left: 20rem;
    font-size: 64px;
  }
}
.hero-title.quotation {
  font-style: italic;
  font-weight: 100;
}

.text-element {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}
.text-element.history-background {
  background-color: #282634;
  color: #fff;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 980px) {
  .text-element.history-background {
    border-radius: 1rem;
  }
}
.text-element.history-background h3 {
  color: #f63d53;
  padding-bottom: 1rem;
}
@media (min-width: 980px) {
  .text-element {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.service-callout {
  position: relative;
  margin-bottom: 2rem;
}
@media (min-width: 980px) {
  .service-callout:nth-child(odd) .service-img {
    margin-right: auto;
    margin-left: 0;
  }
  .service-callout:nth-child(odd) .service-button-wrapper {
    right: 1rem;
  }
}

.service-img {
  position: relative;
  margin-left: auto;
  height: 200px;
}
@media (min-width: 980px) {
  .service-img {
    width: 740px;
    height: 370px;
    z-index: 1;
  }
}
.service-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
@media (min-width: 980px) {
  .service-img img {
    border-radius: 1rem;
  }
}

.service-button-wrapper {
  background-color: #282634;
  height: 100px;
  gap: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 980px) {
  .service-button-wrapper {
    background-color: rgba(40, 38, 52, 0.95);
    width: 500px;
    height: 240px;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 1rem;
  }
}
.service-button-wrapper h3 {
  color: #f63d53;
}

.contact-content {
  margin: 2rem 0;
}
.contact-content .service-callout .service-img {
  height: 400px;
}
.contact-content .service-callout .service-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
  height: 150px;
  color: #fff;
  padding-left: 1rem;
  padding-top: 1rem;
}
.contact-content .service-callout .service-button-wrapper h2 {
  color: #f63d53;
}
.service-button {
  background-color: #fff;
  color: #000;
  font-size: 12px;
  text-align: center;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
}

.footer {
  background-color: #f63d53;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer .logo {
  margin: auto;
}

.footer-main-content {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-nav-list {
  display: block;
  margin: auto;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.footer-nav-list-item {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-right: 2px solid #282634;
  padding-right: 5px;
  font-size: 15px;
}
.footer-nav-list-item:last-of-type {
  border: none;
}
.footer-nav-list-item.is-current a {
  color: #282634;
}
@media (min-width: 980px) {
  .footer-nav-list-item a:hover {
    color: #282634;
  }
}

.socialmedia-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #282634;
  width: 100%;
  height: 75px;
  padding-top: 1rem;
  justify-content: center;
}

.nav-socialmedia {
  display: flex;
}

.nav-socialmedia-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 0.5rem;
}

.nav-socialmedia-list-item {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-right: 2px solid #f63d53;
  padding-right: 15px;
  font-size: 15px;
}
.nav-socialmedia-list-item:last-of-type {
  border: none;
}
@media (min-width: 980px) {
  .nav-socialmedia-list-item a:hover {
    color: #f63d53;
  }
}

.copyright-text {
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
}

.employee-container {
  text-align: center;
}

.employee-title {
  color: #282634;
  padding-bottom: 1rem;
}

.profile-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;
}
@media (min-width: 740px) {
  .profile-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 980px) {
  .profile-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.profile-wrapper {
  position: relative;
}

.profile-img {
  position: relative;
  margin-left: auto;
  height: 400px;
}
.profile-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.profile-info {
  display: flex;
  flex-flow: column wrap;
  background-color: #282634;
  color: #fff;
  height: 160px;
  padding: 10px;
  text-align: left;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.profile-info :not(:first-child) {
  margin-top: 5px;
}
.profile-info :first-child {
  color: #f63d53;
}
.profile-info :last-child {
  margin-top: 10px;
}

.services-wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (min-width: 980px) {
  .services-wrapper {
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    gap: 3rem;
  }
}

.services-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
@media (min-width: 980px) {
  .services-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

.service {
  display: flex;
  color: #282634;
  gap: 1rem;
}
.service img {
  width: 60px;
  height: 60px;
}
@media (min-width: 980px) {
  .service {
    gap: 1.5rem;
  }
}

.icon-wrapper {
  width: 60px;
}

.service-element {
  width: 100%;
}
.service-element .text-element {
  padding-top: 0.5rem;
  text-align: left;
}
@media (min-width: 980px) {
  .service-element .text-element {
    padding-bottom: 0;
    width: 80%;
  }
}
.service-element h3 {
  color: #f63d53;
}

.service-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  gap: 1rem;
}
.service-cta a {
  display: flex;
  background-color: #282634;
  color: #f63d53;
  width: 7rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
@media (min-width: 980px) {
  .service-cta p {
    font-size: 18px;
  }
}

.review-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.review-element h2 {
  margin-top: 2rem;
  color: #282634;
  padding: 1rem;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
}
@media (min-width: 980px) {
  .swiper {
    width: 100%;
    border-top: none;
  }
}

.swiper-wrapper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #282634;
  background: none;
  margin-right: 1px;
}
@media (min-width: 980px) {
  .swiper-slide .text-element {
    width: 60%;
    margin: auto;
  }
}

.swiper-inner {
  padding: 1rem;
  color: #fff;
  /*
  border: 2px solid $darkBlue;
  border-top-width: 4px;
  border-top-color: $brand;*/
  border-radius: 0.5rem;
  background: rgba(40, 38, 52, 0.8);
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  position: relative;
  margin-top: 0;
  left: auto;
  transform: none;
}
.swiper-arrows {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 120px;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
  display: none;
  color: #282634;
  top: auto;
  left: auto;
  right: auto;
  transform: none;
}
@media (min-width: 980px) {
  .swiper-button-prev,
.swiper-button-next {
    display: block;
  }
}

/*
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 28rem;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 28rem;
}*/
.review-who {
  text-align: right;
  color: #f63d53;
  margin-bottom: 1rem;
  padding-right: 1rem;
}
@media (min-width: 980px) {
  .review-who {
    margin-right: 10rem;
    margin-bottom: 2rem;
  }
}

.review-score {
  margin: auto;
  text-align: center;
}
@media (min-width: 980px) {
  .review-score {
    width: 60%;
    margin-bottom: 2rem;
  }
}

.form-section {
  margin-top: 3rem;
}

.form-content {
  position: relative;
  max-width: 100%;
  width: 100%;
  color: #282634;
}

.form-wrapper {
  position: relative;
  border-radius: 0.47rem;
  border-color: #282634;
  border-top: 5px solid #f63d53;
  box-shadow: 0px 0px 13px 6px rgba(40, 38, 52, 0.75);
  -webkit-box-shadow: 0px 0px 13px 6px rgba(40, 38, 52, 0.75);
  -moz-box-shadow: 0px 0px 13px 6px rgba(40, 38, 52, 0.75);
  padding: 1rem;
}

.name-input-group {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 2rem;
  margin-bottom: 1rem;
  gap: 1rem;
}
@media (min-width: 980px) {
  .name-input-group {
    grid-template-columns: repeat(2, 1fr);
  }
}
.name-input-group input {
  height: 30px;
}

.name-input {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}

.email-input {
  margin-bottom: 1rem;
  display: flex;
  flex-flow: column wrap;
}
.email-input .form-email {
  height: 30px;
}

.subject-input {
  margin-bottom: 1rem;
}
.subject-input .form-subject {
  width: 100%;
  height: 30px;
}

.textbox-input {
  margin-bottom: 2rem;
  display: flex;
  flex-flow: column wrap;
}
.textbox-input .form-textarea {
  width: 100%;
}

.submit-input {
  text-align: center;
  margin-bottom: 2rem;
}
.submit-input .form-submit {
  border: none;
  background-color: #282634;
  color: #f63d53;
  border-radius: 1rem;
  max-width: 150px;
  width: 100%;
  height: 60px;
}/*# sourceMappingURL=main.css.map */