/* ubuntu-300 - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/ubuntu-v20-latin-300.woff2") format("woff2"), url("../fonts/ubuntu-v20-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ubuntu-regular - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/ubuntu-v20-latin-regular.woff2") format("woff2"), url("../fonts/ubuntu-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ubuntu-500 - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/ubuntu-v20-latin-500.woff2") format("woff2"), url("../fonts/ubuntu-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ubuntu-700 - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/ubuntu-v20-latin-700.woff2") format("woff2"), url("../fonts/ubuntu-v20-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/roboto-v30-latin-300.woff2") format("woff2"), url("../fonts/roboto-v30-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 12px;
  line-height: 1.2rem;
}

.content-wrapper {
  max-width: 1080px;
  padding: 0 1rem;
  margin: auto;
}

.header {
  background-color: #282634;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 980px) {
  .header {
    justify-content: flex-start;
  }
}

@media (min-width: 980px) {
  .logo {
    display: inline-block;
    align-self: flex-start;
  }
}

.header-title {
  margin: auto;
  color: #fff;
}
@media (min-width: 980px) {
  .header-title {
    display: none;
  }
}

.nav-mobile {
  display: block;
  opacity: 0;
  transform: scale(0);
  transform-origin: top right;
  position: absolute;
  background-color: #f63d53;
  box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.6);
  width: 250px;
  height: auto;
  right: 0.7rem;
  top: 1.7rem;
  padding: 1rem;
  z-index: 1;
  transition: all 200ms ease-in-out;
}
.nav-mobile.is-open {
  display: block;
  opacity: 1;
  transform: scale(1);
}
@media (min-width: 980px) {
  .nav-mobile {
    display: none;
  }
}

.nav-mobile-trigger {
  position: relative;
  width: 36px;
  height: 36px;
  padding: 6px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.nav-mobile-trigger span {
  position: absolute;
  display: block;
  width: 24px;
  height: 2px;
  background: #fff;
  transition: all 200ms ease-in-out;
}
.nav-mobile-trigger span:nth-child(1) {
  top: 10px;
}
.nav-mobile-trigger span:nth-child(2) {
  top: 17px;
}
.nav-mobile-trigger span:nth-child(3) {
  top: 24px;
}
.nav-mobile-trigger.is-clicked span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.nav-mobile-trigger.is-clicked span:nth-child(2) {
  opacity: 0;
}
.nav-mobile-trigger.is-clicked span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
@media (min-width: 980px) {
  .nav-mobile-trigger {
    display: none;
  }
}

.nav-mobile-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.nav-mobile-list .nav-mobile-list-item {
  margin-bottom: 0.8rem;
  font-size: larger;
}
.nav-mobile-list .nav-mobile-list-item:last-child {
  margin-bottom: 0;
}
.nav-mobile-list .nav-mobile-list-item.is-current a {
  font-weight: 600;
}

.nav-desktop {
  display: none;
}
@media (min-width: 980px) {
  .nav-desktop {
    display: flex;
    margin: auto;
  }
}

.nav-desktop-list {
  list-style: none;
  gap: 1rem;
  font-size: larger;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.nav-desktop-list-item.is-current a {
  color: #f63d53;
}
.nav-desktop-list-item a:hover {
  color: #f63d53;
}

.hero {
  position: relative;
  width: 100%;
  height: 182px;
}
@media (min-width: 980px) {
  .hero {
    height: 400px;
  }
}
.hero::before {
  content: "";
  position: absolute;
  background-color: #282634;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}
.hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-title {
  position: absolute;
  color: #fff;
  font-weight: 300;
}
.hero-title:first-of-type {
  bottom: 6rem;
  left: 3rem;
}
@media (min-width: 980px) {
  .hero-title:first-of-type {
    bottom: 14rem;
    left: 11rem;
    font-size: 64px;
  }
}
.hero-title:last-of-type {
  bottom: 4.8rem;
  left: 6rem;
}
@media (min-width: 980px) {
  .hero-title:last-of-type {
    bottom: 10rem;
    left: 14rem;
    font-size: 64px;
  }
}

.text-element {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  margin-top: 4rem;
}
@media (min-width: 980px) {
  .text-element {
    margin-top: 6rem;
  }
}

.service-callout {
  margin-bottom: 2rem;
}

.service-img {
  width: 100%;
  height: 200px;
}
.service-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service-button-wrapper {
  background-color: #282634;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.service-button-wrapper h3 {
  color: #f63d53;
}

.service-button {
  background-color: #fff;
  color: #000;
  border: none;
  font-size: 12px;
  text-align: center;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
}/*# sourceMappingURL=main.css.map */